<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="120 seconds">

    <!--    Load propeties-->
    <property resource="application.properties"/>

    <!--  Log path  -->
    <property name="LOG_PATH" value="./logs"/>

    <property name="PATTERN_LAYOUT" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %t %logger{10} :: %m%n"/>
    <property name="PATTERN_LAYOUT_PID" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %t ___PID___ %logger{10} :: %m%n"/>
    <property name="PATTERN_MASK" value="false"/>
    <property name="MAX_HISTORY" value="50"/>
    <property name="MAX_FILE_SIZE" value="50MB"/>
    <property name="TOTAL_SIZE_CAP" value="2048MB"/>
    <timestamp key="BY_DATE" datePattern="yyyy-MM-dd"/>

    <!-- Send messages to System.out -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN_LAYOUT}</pattern>
        </encoder>
    </appender>

    <!--  Send messages to Email  -->
    <appender name="EMAIL" class="org.tool.c.services.logback.SMTPAppenderEncryptPass">
        <smtpHost>smtp.gmail.com</smtpHost>
        <smtpPort>587</smtpPort>
        <STARTTLS>true</STARTTLS>
        <asynchronousSending>false</asynchronousSending>
        <username>announce-email-here</username>
        <password>[PROTECTED]</password>
        <to>email-receiver-here</to>
        <from>announce-email-here</from>
        <subject>[ERROR] TOOL-C: %m - %d{yyyy-MM-dd HH:mm:ss.SSS}</subject>
        <layout class="ch.qos.logback.classic.html.HTMLLayout"/>
    </appender>

    <!--  Send messages to file for Encrypt  -->
    <appender name="ENCRYPT_SUB_APP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <charset>utf-8</charset>
            <pattern>${PATTERN_LAYOUT}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/encrypt-%d{yyyy-MM-dd_HH}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!--  Send messages to file for Application  -->
    <appender name="TOOL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <charset>utf-8</charset>
            <pattern>${PATTERN_LAYOUT}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/app-%d{yyyy-MM-dd_HH}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <logger name="org.tool.c.subapp.EncryptSubApp" level="${logback.log.level}" additivity="false">
        <appender-ref ref="ENCRYPT_SUB_APP"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!--  Root configuration  -->
    <root level="${logback.log.level}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="TOOL"/>
        <appender-ref ref="EMAIL"/>
    </root>
</configuration>
