<div style="
    box-shadow: 0 0px 22px -10px rgba(0, 0, 0, 0.3);
    width: 95%;
    margin: 0 auto;
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    padding: 20px;
    border-radius: 10px;
    background: rgb(255,255,255);
    /*background: linear-gradient(157deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 23%, rgba(0,212,255,1) 85%);*/
    background: linear-gradient(157deg, rgba(255,255,255,1) 0%, rgba(83,83,83,1) 23%, rgba(0,212,255,1) 84%);
    /*background: linear-gradient(157deg, rgba(0,212,255,1) 26%, rgba(83,83,83,1) 79%, rgba(255,255,255,1) 92%);*/
">
    <p style="text-align: center; font-weight: 600; text-transform: uppercase; color: #f1f1f1;">Checkout Information</p>
    <p style="color: #fff;"><span style="display: inline-block; width: 165px;">Working Day: </span><strong>${workingDay}</strong></p>
    <p style="color: #efff00;"><span style="display: inline-block; width: 165px;">Working Time: </span><strong>${workingHours}</strong></p>
    <p style="color: #fff;"><span style="display: inline-block; width: 165px;">Checkin Time: </span><strong>${checkInTime}</strong></p>
    <p style="color: #fff;"><span style="display: inline-block; width: 165px;">Checkout Time: </span><strong>${checkOutTime}</strong></p>
    <p style="color: #fff;"><span style="display: inline-block; width: 165px;">Latencies Time: </span><strong>${lateTime} minutes</strong></p>
</div>